<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
      <title>{% block title %}Pepiniere{% endblock %}</title>

        {% block stylesheets %}{% endblock %}

        <link rel="icon" href="{{asset('images/core-img/favicon.ico')}}" >
        <link rel="stylesheet" href="{{ asset('style.css') }}">


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <header class="header-area">

        <!-- ***** Top Header Area ***** -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Top Header Content -->
                            <div class="top-header-meta">
                            </div>

                            <!-- Top Header Content -->
                            <div class="top-header-meta d-flex">
                                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <!-- Login -->
                                    <div class="login">
                                        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-user" aria-hidden="true"></i> <span>Se connecter</span></a>
                                    </div>
                                    <div class="login">
                                        <a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user" aria-hidden="true"></i> <span>S'inscrire</span></a>
                                    </div>
                             {% else %}
                                <!-- Language Dropdown -->
                                <div class="language-dropdown">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle mr-30" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Espace</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Profile</a>
                                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>


                                        </div>

                                    </div>
                                </div>
{% endif %}
                                <!-- Cart -->
                                <div class="cart">
                                    <a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Cart <span class="cart-quantity">(1)</span></span></a>
                                </div>
                                <div class="cart">

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Navbar Area ***** -->
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">

                        <!-- Nav Brand -->
                        <a href="index.html" class="nav-brand"><img src="{{ asset('images/core-img/logo.png') }}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Navbar Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{{ path('client') }}">Home</a></li>
                                    <li><a href="{{ path('annonce_homepage') }}">Annonce</a></li>

                                    <li><a href="{{ path('plantsitting_homepage') }}">Plantsitting</a>
                                    <li><a href="{{ path('event_homepage') }}">Event</a></li>
                                    <li><a href="contact.html">Contact</a></li>

                                </ul>

                                <!-- Search Icon -->
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Navbar End -->
                        </div>
                    </nav>

                    <!-- Search Form -->
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <!-- Close Icon -->
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


        {% block body %}{% endblock %}

    <footer class="footer-area bg-img" style="background-image: url({{ asset('img/bg-img/3.jpg') }});">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#"><img src="{{ asset('images/core-img/logo.png') }}" alt=""></a>
                            </div>
                            <p>Lorem ipsum dolor sit samet, consectetur adipiscing elit. India situs atione mantor</p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>



                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="#">Purchase</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Payment</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Return</a></li>
                                    <li><a href="#">Advertise</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Career</a></li>
                                    <li><a href="#">Orders</a></li>
                                    <li><a href="#">Policities</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>BEST SELLER</h5>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="{{ asset('images/bg-img/4.jpg') }}" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Cactus Flower</a>
                                    <p>$10.99</p>
                                </div>
                            </div>

                            <!-- Single Best Seller Products -->
                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="shop-details.html"><img src="{{ asset('images/bg-img/5.jpg') }}" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="shop-details.html">Tulip Flower</a>
                                    <p>$11.99</p>
                                </div>
                            </div>
                        </div>
                    </div>

    <!-- Single Footer Widget -->
    <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-footer-widget">
            <div class="widget-title">
                <h5>CONTACT</h5>
            </div>

            <div class="contact-information">
                <p><span>Address:</span> 505 Silk Rd, New York</p>
                <p><span>Phone:</span> +1 234 122 122</p>
                <p><span>Email:</span> info.deercreative@gmail.com</p>
                <p><span>Open hours:</span> Mon - Sun: 8 AM to 9 PM</p>
                <p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- Footer Nav -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

        {% block javascripts %}
            <!-- ##### All Javascript Files ##### -->
            <!-- jQuery-2.2.4 js -->
            <script src="{{ asset('js/jquery/jquery-2.2.4.min.js') }}"></script>
            <!-- Popper js -->
            <script src="{{ asset('js/bootstrap/popper.min.js') }} "></script>
            <!-- Bootstrap js -->
            <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
            <!-- All Plugins js -->
            <script src="{{ asset('js/plugins/plugins.js') }}"></script>
            <!-- Active js -->
            <script src="{{ asset('js/active.js') }}"></script>
            <script src="{{ asset('jjj.js') }}"></script>

        {% endblock %}

</html>
